<h1>All Posts</h1>

{{#if success_message}}
<div class="alert alert-success">
{{success_message}}
</div>
{{/if}}


<table class="table">
  <thead>
    <tr>
<!--      <th scope="col">ID</th>-->
      <th scope="col">File</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Category</th>
      <th scope="col">Allow Comments</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
      {{#each posts}}
    <tr>
<!--      <td></td>-->
      <td><img src="/uploads/{{file}}" height="65" width="80"></td>
      <td>{{title}}</td>
      <td>{{status}}</td>
      <td>{{category}}</td>
      <td>{{allowComments}}</td>
      <td>{{date}}</td>
      <td><a href="/admin/posts/edit/{{_id}}" class="btn btn-info">Edit</a></td>
      <td>
          <form action="/admin/posts/{{_id}}?_method=DELETE" method="post" enctype="multipart/form-data">
          <button type="submit" class="btn btn-danger" style="cursor:pointer">Delete</button>
          </form>
      </td>
    </tr>
      {{/each}}
  </tbody>
</table>